<h1>What do I need day-to-day?</h1>

<h2>Training your plan</h2>
<p>
</p>

<h2>Pace predictors and calculators</h2>
<p>
  <a href="https://www.mcmillanrunning.com/">McMillan's</a> calculator: enter a race or pace you have done, and get expected times for other distances
</p>
<p>
  <a href="https://runfastcoach.com/calc2/index.php">Tinman</a>: given your goal pace, figure out various workout paces (tempo, VO2Max, ...)
</p>

<h2>Workout trackers</h2>
<p>It's important to review past workouts to understand how you're improving, monitor fatigue, and stay motivated. If nothing else, it's fun to see the maps of where you ran and share with friends.</p>
<p><a href="https://www.strava.com/">Strava</a> is my favorite site for this. Take a quick look at <a href="https://www.strava.com/athletes/3540724">my page</a> for an idea of what it gives you.</p>
<p>You can also upload to Garmin, MapMyRun, Nike+, or a variety of other trackers.</p>
<p>Some watches/apps automatically upload to various places. For a few reasons, I manually upload every few days.</p>