<h1>Resources</h1>

<h2>Training Plans</h2>
<p>
  <a href="https://freerunningplans.com/">This site</a> has great Excel-formatted plans you can download and easily modify. I'd recommend starting here. If the plan looks good, go with it.
</p>
<p>
  <a href="https://www.halhigdon.com/training/10k-training/">Hal Higdon</a> has beginner, intermediate, and advanced plans for free. There's a bit less guidance in the workout itself, but some good detail on each plan's page about pace targets.
</p>

<h2>Pace predictors and calculators</h2>
<p>
  <a href="https://www.mcmillanrunning.com/">McMillan's</a> calculator: enter a race or pace you have done, and get expected times for other distances
</p>
<p>
  <a href="https://runfastcoach.com/calc2/index.php">Tinman</a>: given your goal pace, figure out various workout paces (tempo, VO2Max, ...)
</p>

<h2>GPS trackers</h2>
<h3>Watches</h3>
<p>I find using a dedicated watch WAY more convenient than my phone. They're often more accurate, better battery life, and easier to carry around, especially when it's hot out.</p>
<p><a href="https://buy.garmin.com/en-US/US/into-sports/running/cIntoSports-cRunning-p1.html">Garmin</a> watches are the go-to. Prioritizing running and occasional biking, I've been using the <a href="https://buy.garmin.com/en-US/US/p/646690">200 series</a> for years; older models are generally totally fine if you want to save $50-100 off the latest.</p>
<p>The <a href="https://buy.garmin.com/en-US/US/p/612476">600 series</a> is more multisport and has full smartwatch features. The <a href="https://buy.garmin.com/en-US/US/p/702902">fenix</a> is available at the very top end, if you want something for triathlons, hiking, skiing, ...</p>
<p>Fitbits, Apple Watches, etc. will all work great as well. The most important thing for accuracy is GPS (rather than just a pedometer).</p>
<h3>Phone apps</h3>
<p>Strava's app is pretty popular. Phone apps are generally less reliable than GPS watches, but still better than pedometers.</p>
<p></p>

<h2>Workout trackers</h2>
<p>It's important to review past workouts to understand how you're improving, monitor fatigue, and stay motivated. If nothing else, it's fun to see the maps of where you ran and share with friends.</p>
<p><a href="https://www.strava.com/">Strava</a> is my favorite site for this. Take a quick look at <a href="https://www.strava.com/athletes/3540724">my page</a> for an idea of what it gives you.</p>
<p>You can also upload to Garmin, MapMyRun, Nike+, or a variety of other trackers.</p>
<p>Some watches/apps automatically upload to various places. For a few reasons, I manually upload every few days.</p>