a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-item:hover {
  background-color:rgba(0, 0, 0, .1);
}

.link-active {
  font-weight: bold;
  background-image: linear-gradient(120deg, #dd1188 0%, #8fd3f4 100%);
  background-size: 100% .2em;
  background-position: 0 100%;
  background-repeat: no-repeat;
}